// Place all the styles related to the access controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.calendar_menu_months li, .display_week li{
  display:inline;
  width:20px;
  margin:0px auto;
}
.display_week{
  .current_day{
    font-size: 1.2em;
    width:20px;
    margin:0px auto;
  }
}
