// Place all the styles related to the appointments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 ol{
   padding:0; margin:0;
   background-color: #6a6b6b;

 }
.grid-date{
  height:35px;
}
.grid-date-header{
  height:100%;
  background-color:#71b0e0 ;
}
.grid-event-header, .grid-events-container{
  height:65px;
  padding: 0 0 3px 0;
  li{
    display:inline; list-style: none; float:left;
  }
}
.grid-event-header li{background-color:#71b0e0;}
.event-item-header, .event-item{
  .event-header, .event, .event-booked{
    height:65px;
    width:120px;
    margin:0px auto;
  }
  .event-header{
    border-right:solid 2px #71b0e0;
  }
  .event{
    background-color: #595b5b;
    border: 1px solid #2e3031;

  }
  .event-booked{
    background-color: #404141;
    color: #fff;
    font-weight: 500;
    text-shadow: 0 -1px rgba(0,0,0,0.36);
    border: 1px solid #2e3031;
    box-shadow: inset 0 1px rgba(255,255,255,0.36);
  }
}


.event-header{
  background-color: #288edf;
  color: #fff;
  font-weight: 500;
  text-shadow: 0 -1px rgba(0,0,0,0.36);
}

