<h1>Listing appointments</h1>


http://lanyrd.com/2013/railsisrael/schedule/?day=oct-09&view=grid

<div style="width:100%">
  <div class="grid-header">
    <ol>
      <%open = 7%>
      <%close = 20%>
      <%while open-1 < close do%>
          <%open += 1%>
          <li><%=open%></li>
      <%end%>
    </ol>
  </div>


</div>