<!-- this breaks cause I am passing a collection back and not a single instance-->

<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  @appointment.user
</p>

<p>
  <b>User:</b>

</p>

<p>
  <b>Date:</b>
  @appointment.date.to_s
</p>

<p>
  <b>Start time:</b>
  @appointment.start_time
</p>

<p>
  <b>End time:</b>
  @appointment.end_time
</p>

<p>
  <b>Is all day:</b>
  @appointment.is_all_day
</p>


<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
